#  Sample configuration file for slm program version: 1.11 
#  NOTE:  ALL FIELDS ARE <TAB> SEPERATED.
#
FILES
#
# To specify a filename that changes each day use a $T as in:
#
#    mylog.$T.log
#
# Filename				Host                    LogInfo

/var/adm/messages			myhost			messages
/var/adm/host1/messages			host1			messages
/home/host/bss/logs/host2_server.log	host2			server
/home/host/bss/logs/loader.$T.log	myhost			loader

#
FILTERS
#
# Notes:  To use pattern-match modifiers (such as case insensitivity):
#         (?i)error is the same as saying: /error/i
#
#         The first pattern in the list is normally used to short-circuit
#         processing by setting the Action to ignore.  By using the first
#         pattern to cause the program to skip to the next line, processing
#         speed can be significantly increased.  This is especially true if
#         monitoring a log that prints the same standard messages repeatedly.
#
#         Patterns should progress from the most specific to the most general.
#         The program assumes that once the pattern is matched it is finished
#         serching through the pattern list.
#
# Pattern		Action list		Message		Interval     Min Msg
#pattern[,pattern]	Action[,action]           MSG#        [[HH:]MM:]SS     count 

succeeded|success	ignore			LR0000
reset			mail=root,log		LR4110
panic			mail=root,log		LR4130		03:00		2
SUNW|scsi		mail=root,log		LR4110
polled			mail=root,log		LR6010
(?i)error		mail=root,log		LR0000		02:00:00

#
MESSAGES
#
# Message Levels:
#			INFO-	Informational messages.  No action required.
#			WARN-	Warning messages.  An abnormal system event has 
#				occured but processing recovered.
#			ERROR-  Error messages.  An abnormal system event has 
#				ocurred. Processing in one or more subsystems 
#				is continuing in crippled mode.
#                       SEVERE- Severe messages.  An abnormal system event has
#                               ocurred. Processing in one or more subsystems
#                               is halted.
#			FATAL-  Fatal messages. An abnormal system event 
#				has ocurred. Processing in one or more subsystems 
#				has failed.
#
# Message Blocks:
#			0000 - 1999-	INFO
#			2000 - 3999-	WARN
#			4000 - 5999-	ERROR
#			6000 - 7999-	SEVERE	
#			8000 - 9999-	FATAL	
#     
# Message#	Severity	Message Text

LR0000		INFO 		Unknown message
LR4110		ERROR		SCSI bus errors. Call SA.
LR4130		ERROR		Host system panic. Call SA.
LR6010		SERIOUS		SCSI bus reset.  Call SA.
